<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!--Top menu item -->
        <menuitem
                name="CopyCenter Uniflex"
                id="menu_ccu"/>

        <!--menu categories -->
        <menuitem name="Tableau de Bord"
                  id="menu_dashboard"
                  parent="menu_ccu"
                  sequence="10"/>

        <menuitem name="Gestion des Clients"
                  id="menu_client_inactif"
                  parent="menu_ccu"
                  sequence="20"/>

        <menuitem name="Clients"
                  id="menu_client"
                  parent="menu_client_inactif"
                  sequence="30"
                  action="base.action_partner_form"/>

        <menuitem name="Abonnement"
                  id="menu_abonnement"
                  parent="menu_ccu"
                  sequence="50"/>

        <menuitem name="Rapport Général"
                  id="menu_rapport_general"
                  parent="menu_ccu"
                  sequence="90" />

        <menuitem name="Rapport de Ventes sur Impression/Copies"
                  id="menu_rapport_vente"
                  parent="menu_rapport_general"
                  sequence="100"
                  action="point_of_sale.action_pos_pos_form"/>

        <menuitem name="Rapport d'achats de crédit"
                  id="menu_rapport_achat"
                  parent="menu_rapport_general"
                  sequence="110"
                  action="point_of_sale.action_pos_pos_form"/>

        <menuitem name="Configurations"
                  id="configuration"
                  parent="menu_ccu"
                  sequence="120" />

    </data>
</odoo>
